@model List<KeyValuePair<WebClient.Models.ProductModel,int>>
@{decimal? total = 0; }
@if (Model != null)
{
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <ul class="list-group">
                @foreach (var product in Model)
                {
                <li class="list-group-item">
                    <span class="badge">@product.Value</span>
                    <strong>@product.Key.Name</strong>
                    <img src="@product.Key.Image" class="img-responsive" style="max-width:40%;display:inline-block;" alt="Alternate Text" />
                    <span class="label label-success">@product.Key.Price AMD</span>
                    @{total += product.Key.Price*product.Value;}
                    <div class="btn-group">
                        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/reduce/@product.Key.Id">Reduce by 1</a></li>
                            <li><a href="/remove/@product.Key.Id">Remove All</a></li>
                        </ul>
                    </div>
                </li>
                }
              
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <strong>Total: @total AMD</strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <a href='@Url.Action("Index","Order")' type="button" class="btn btn-success">Checkout</a>
        </div>
    </div>
}
else{
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>No items in your card</h2>
        </div>
    </div>                            
}