@model List<WebClient.Models.ProductModel>
@foreach (var prod in Model)
{
    <div>
        <p data-type="id">seller's id - @prod.Id</p>
        <p>seller's name - @prod.Name</p>
        <p>seller's address - @prod.Brand</p>
        <p>seller's cellphone - @prod.Version</p>
        <p>seller's email - @prod.Price</p>
        <p>seller's rating - @prod.RAM</p>
        <p>seller's rating - @prod.Year</p>
        <p>seller's rating - @prod.Display</p>
        <p>seller's rating - @prod.Battery</p>
        <p>seller's rating - @prod.Camera</p>
        <p>seller's rating - @prod.Image</p>
        <p>seller's rating - @prod.Quantity</p>
    </div>

}