@model List<WebClient.Models.SellerModel>

@using (Html.BeginForm())
{
    @foreach (var seller in Model)
    {
        <div>
            <p data-type = "id">seller's id - @seller.Id</p>
            <p>seller's name - @seller.Name</p>
            <p>seller's address - @seller.Address</p>
            <p>seller's cellphone - @seller.CellPhone</p>
            <p>seller's email - @seller.Email</p>
            <p>seller's rating - @seller.Rating</p>
            <input type="button" class="products btn btn-primary" value="See All Products">
        </div>
    }
    <script>
        $('button').hasClass("products").on('click', function () {
            $.ajax
                ({
                    type: "GET",
                    dataType: "Json",
                    url: '@Url.Action("Seller", "Home")' + '?id=' + $(this).parent().find('p').attr('data-type'),
                    async: false,
                    success: function (data) {

                    }
                    error: function () {
                        ErrorMessage("", '');
                    }
                })
        });        
            
    </script>
}