@using Newtonsoft.Json;
@model List<WebClient.Models.ProductModel>

<link rel="stylesheet" href="~/css/Hover.css" />
<style>
 
</style>
<script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
<div class="container product-container">
    <form asp-controller="Product" asp-action="Search" method="post">
        <fieldset>
            <legend><a data-toggle="collapse" data-target="#demo" href="#" style="color:white;text-decoration:none;pointer-events:auto;">Search with your credentials <span>(click to toggle search menu)</span></a></legend>
            <div class="row collapse" id="demo">
                <div class="form-inline col-md-2">
                    <div class="form-group">
                        <label for="priceFrom">Price</label>
                        <input type="text" class="form-control" id="priceFrom" name="instance.price" placeholder="From" />
                        <input type="text" class="form-control" id="priceTo" name="instance.priceTo" placeholder="To">
                    </div>
                </div>
                <div class="form-inline col-md-2">
                    <div class="form-group">
                        <label for="memoryFrom">Memory size</label>
                        <input type="text" class="form-control" id="memoryFrom" name="instance.memory" placeholder="From" />
                        <input type="text" class="form-control" id="memoryTo" name="instance.memoryTo" placeholder="To">
                    </div>
                </div>
                <div class="form-inline col-md-2">
                    <div class="form-group">
                        <label for="ramFrom">RAM size</label>
                        <input type="text" class="form-control" id="ramFrom" name="instance.ram" placeholder="From" />
                        <input type="text" class="form-control" id="ramTo" name="instance.ramTo" placeholder="To">
                    </div>
                </div>
                <div class="form-inline col-md-2">
                    <div class="form-group">
                        <label for="mpFrom">Camera in megapixels</label>
                        <input type="text" class="form-control" id="mpFrom" name="instance.camera" placeholder="From" />
                        <input type="text" class="form-control" id="mpto" name="instance.camerato" placeholder="To">
                    </div>
                </div>
                <div class="form-inline col-md-2">
                    <div class="form-group">
                        <label for="batteryFrom">Battery size in mAh</label>
                        <input type="text" class="form-control" id="batteryFrom" name="instance.battery" placeholder="From" />
                        <input type="text" class="form-control" id="batteryTo" name="instance.batteryTo" placeholder="To">
                    </div>
                </div>
                <div class="form-inline col-md-2">
                    <div class="form-group">
                        <label for="yearFrom">Publish Year</label>
                        <input type="text" class="form-control" id="yearFrom" name="instance.year" placeholder="From" />
                        <input type="text" class="form-control" id="yearTo" name="instance.yearTo" placeholder="To">
                    </div>
                </div>
                <input type="submit" value="search" name="action" class="btn btn-primary add action pull-right">
            </div>
        </fieldset>
    </form>
    @foreach (var product in Model)
    {
        @if (Model.IndexOf(product) % 3 == 0)
        {
            @:<div class="row">
            }
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="@product.Image" alt="">
                <div class="overlay">
                    <h2>@product.Name</h2>
                    <div class="price">@product.Price AMD</div>
                    <div class="navbar-fixed-bottom" style="bottom:10px;">
                        <div class="pull-right actions">
                            <input type="text" data="@product.Id" hidden id="prod_id" />
                            <button class="btn btn-success change-color add-to-cart">Add to Shopping Cart</button>
                            <button class="btn btn-success change-color product-details">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.IndexOf(product) % 3 == 1)
        {
        @:</div>
    }
    }
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog" style="color:black">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>

                </button>
                <h4 class="modal-title">You can't use shopping cart as long as you are not signed in</h4>

            </div>
            <div class="modal-body">
                <p>Please  <a href="/Account/LoginView">sign in</a>, or <a href="/Account/SignUp"> sign up</a> if you dont have account yet to add to cart</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("div.anim").hover(function () {
            $(this).find("button.change-color").removeClass("btn-primary").addClass("btn-success")
            $(this).find(".caption").stop().animate({
                color: "white"
            },200)
            $(this).stop().animate({
                top: "50px",
                backgroundColor: "#00b0cc",
            }, 200)
        }, function () {
            $(this).find("button.change-color").removeClass("btn-success").addClass("btn-primary")
            $(this).find(".caption").stop().animate({
                color: "black"
            })
            $(this).stop().animate({
                top: "0",
                backgroundColor: "#fff"
            }, "slow");
            });
        $("div.actions").on('click', 'button', function () {
            var that = $(this)
            if (that.hasClass('product-details')) {
                var id = $('button.product-details').closest("div").find("input#prod_id").attr("data");
                var url = '@Url.Action("DetailAsync","Product",new { id = "_id_" })';
                window.location.href = url.replace("_id_", id);
            }
            else if (that.hasClass('add-to-cart')) {
                @if (Context.Request.Cookies["Is logged"] == "1")
                {
                    var quantity = 0;
                    Int32.TryParse(Context.Request.Cookies["cart_quantity"],out quantity);
                    quantity += 1;
                    Context.Response.Cookies.Append("cart_quantity", quantity.ToString());
                    <text>
                        var id = $('button.add-to-cart').closest("div").find("input#prod_id").attr("data");
                        $.ajax
                            ({
                        type: "POST",
                                dataType: "Json",
                                url: '@Url.Action("AddAsync", "ShoppingCart")',
                                data: { id : id },
                                async: false,
                                success: function (data) {
                            },
                                error: function () {
                            ErrorMessage("", '');
                            }
                    })
                   $("body").find(".navbar .navbar-collapse .navbar-nav li a .badge").html(@quantity);

                   </text>
                }
                else
                {
                    <text>
                        $('#myModal').modal('toggle');
                    </text>
                }
                        }
        })
    })
</script>
